$a_color:#740000;
$header_color:#760000;
$header_height:280px;
$navbar_height:40px;

$footer_height:180px;
$footer_color:black;

BODY{
	//background-color:$footer_color;	
}


.header-wrapper{
	background-color:$header_color;
	//height:$header_height;
}

.header-margin{
	margin-top:$navbar_height;
}

.navbar{
	height:$navbar_height;
}

a{
	color:$a_color;
}



* {
	margin: 0;
}
    html, body {
    height: 100%;
    }
    .wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 0px - $footer_height - 10px;
    }
    
    .footer{
     background-color: #1B1B1B;
     color: white;
    }
    
    .footer, .push {
    height: $footer_height;
    
    clear: both;
    }
	
	
	
.news-wrapper{
    text-align: center;
    min-width:700px;
  }
.news-post{
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
  text-align: left;
  height: 300px;
  display: inline-block;
  overflow: hidden;
}

.news-preview{
  text-align: center;
  /*width: 272px;*/
  /*height: 181px;*/
}

.news-title{
  height: 85px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
}

.news-more{
  margin-top: 1px;
}	
    