/* line 13, ../sass/tgasu.scss */
.header-wrapper {
  background-color: #760000;
}

/* line 18, ../sass/tgasu.scss */
.header-margin {
  margin-top: 40px;
}

/* line 22, ../sass/tgasu.scss */
.navbar {
  height: 40px;
}

/* line 26, ../sass/tgasu.scss */
a {
  color: #740000;
}

/* line 32, ../sass/tgasu.scss */
* {
  margin: 0;
}

/* line 35, ../sass/tgasu.scss */
html, body {
  height: 100%;
}

/* line 38, ../sass/tgasu.scss */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  margin-bottom: -190px;
}

/* line 46, ../sass/tgasu.scss */
.footer {
  background-color: #1B1B1B;
  color: white;
}

/* line 51, ../sass/tgasu.scss */
.footer, .push {
  height: 180px;
  clear: both;
}
